.toggle {
  position: absolute;
  top: -4px;
  left: -6px;
  z-index: 4;
  width: 10%;
  height: 0;

  &__handle {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: block;
    width: 12px;
    height: 14px;
    background-color:darkviolet;
    cursor: pointer;
  }
}
