.toggle {
  position: absolute;
  top: -4px;
  left: -7px;
  z-index: 4;
  width: 8px;
  height: 0;


  &__handle {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: block;
    width: 14px;
    height: 14px;

    background-color:darkviolet;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
  }
}
