.ruler {
  position: relative;
  top: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ffffff;

  &__item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: -5px;
    left: -7px;
    z-index: 4;
    width: 10%;
    height: 0;
    font-size: 14px;
    cursor: pointer;
  }
}
